{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="code-container">
  <div class="git-gutter" id="gitGutter"></div>
  <div class="line-numbers" id="lineNumbers"></div>

  <pre class="code-content"><code id="codeBlock">projects = [
    {
        <span class="string">"name"</span>: <span class="string">"Keyvora"</span>,
        <span class="string">"url"</span>: <span class="string">"<a href="https://github.com/wwxriyy/Keyvora" target="_blank">https://github.com/wwxriyy/Keyvora</a>"</span>,
        <span class="string">"stack"</span>: [
            <span class="string">"<img src="{% static 'assets/icons/python.svg' %}" class="inline-icon" alt=""> Python"</span>,
        ],
        <span class="string">"description"</span>: <span class="string">"An application for saving passwords in a local database with encryption and Google Authentication. It uses a local SQLite database, SQLAlchemy models, PyQt6 windows, QSS styling, JSON-based themes/localization, and encrypted database fields powered by Fernet."</span>
    },
    {
        <span class="string">"name"</span>: <span class="string">"CubeRobot"</span>,
        <span class="string">"url"</span>: <span class="string">"<a href="https://github.com/wwxriyy/CubeRobot" target="_blank">https://github.com/wwxriyy/CubeRobot</a>"</span>,
        <span class="string">"stack"</span>: [
            <span class="string">"<img src="{% static 'assets/icons/cpp.svg' %}" class="inline-icon" alt=""> C++"</span>,
            <span class="string">"<img src="{% static 'assets/icons/html5.svg' %}" class="inline-icon" alt=""> HTML5"</span>,
            <span class="string">"<img src="{% static 'assets/icons/css3.svg' %}" class="inline-icon" alt=""> CSS3"</span>,
            <span class="string">"<img src="{% static 'assets/icons/javascript.svg' %}" class="inline-icon" alt=""> JavaScript"</span>,
        ],
        <span class="string">"description"</span>: <span class="string">"Animate expressive robot eyes on a TFT display, control RGB lighting, read temperature/humidity, and react to ambient light — all from a clean web interface."</span>
    }
]</code></pre>
</div>
{% endblock %}